<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
<link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css">
    <link rel="stylesheet" href="./css/style.css">
    
    
    <!-- endbuild -->
    
    <title>Prayer Times</title>
</head>




<body>
  {{>under_construct_label}}
 
  {{>forms}}
  
  
 

 <!--
  <!-- input feilds
     <!--Container of whole page
      <div class="container" style="padding-top: 5rem;">
        <div class="row row-content">
          <div class="col-xs-12 col-sm-2 col-md-2" style="margin-left: 1rem;">
            <div class="card" style="width: 12rem ;">
              <div class="card-body">
                <h5 class="card-title">Fajar</h5>
                <p class="card-text"><h1 ><strong id="fajar">{{clock}}</strong></h1></p>
                <p style="color: red;"id="fajar_end">{{sunrise}}</p>
              </div>
            </div>
            </div>
          <div class="col-xs-1 col-sm-2"style="margin-left: 1rem;">
            <div class="card" style="width: 12rem;">
              <div class="card-body">
                <h5 class="card-title">Zuhar</h5>
                <p class="card-text"><h1><strong id="zuhar">{{zuhar}}</strong></h1></p>
                <p style="color: red;"id="zuhar_end">{{zuhar_end}}</p>
              </div>
            </div>
            
          </div>
          <div class="col-xs-1 col-sm-2"style="margin-left: 1rem;">
            <div class="card" style="width: 12rem;">
              <div class="card-body">
                <h5 class="card-title">Asar</h5>
                <p class="card-text"><h1><strong id="asr">{{asr}}</strong></h1></p>
                <p style="color: red;"id="asr_end">{{asr_end}}</p>
              </div>
            </div>
            
          </div>
          <div class="col-xs-1 col-sm-2"style="margin-left: 1rem;">
            <div class="card" style="width: 12rem;">
              <div class="card-body">
                <h5 class="card-title">Maghrib</h5>
                <p class="card-text"><h1><strong id="maghrib">{{maghrib}}</strong></h1></p>
                <p style="color: red;"id="maghrib_end">{{maghrib_end}}</p>
              </div>
            </div>
            
          </div>
          <div class="col-xs-1 col-sm-2"style="margin-left: 1rem;">
            <div class="card" style="width: 12rem;">
              <div class="card-body">
                <h5 class="card-title">Isha</h5>
                <p class="card-text"><h1><strong id="isha">{{isha}}</strong></h1></p>
                <p style="color: red;"id="isha_end">{{isha_end}}</p>
              </div>
            </div>
            
          </div>

        </div>

      </div>-->
      
      

     <!--Container of whole page-->

      <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
      <!-- build:js js/main.js -->
      
      <script type="text/javascript" src="node_modules/mdbootstrap/js/jquery.min.js"></script>
      <script type="text/javascript" src="node_modules/mdbootstrap/js/popper.min.js"></script>
      <script type="text/javascript" src="node_modules/mdbootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="node_modules/mdbootstrap/js/mdb.min.js"></script>
      <script type="text/javascript" src="/js/app.js" charset="utf-8"></script>
           <!-- endbuild -->
    
  
    

</body>
<footer>
  
</footer>

</html>