<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <div class="s002"> <!-- Menue-->

      <form>
        
        <div class="d-flex justify-content-center">
         <div class="">
           <img src="assets/images/logo.png" alt="">
         </div>
          
         
          
          
        </div>
      </form>
    </div>
    
    <div class="s002">

      <form id="prayerForm">
        
        <div class="inner-form">
          
          <div class="input-field first-wrap">
           
            <div class="icon-wrap">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
              </svg>
            </div>
            <input id="search" type="text" placeholder="What are you looking for?" />
          </div>
           <!--<div class="input-field fouth-wrap">
            <div class="icon-wrap">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
              </svg>
            </div>
            <select data-trigger="" name="choices-single-defaul" id="prayerCalc">
              <option placeholder="">Prayer Calculations</option>
              <option value="0">0 - Shia Ithna-Ansari</option>
              <option value="1">1- University of Islamic Sciences, Karachi</option>
              <option value="2">2 - Islamic Society of North America</option>
              <option value="3">3 - Muslim World League</option>
              <option value="4">4 - Umm Al-Qura University, Makkah </option> 
              <option value="5">5 - Egyptian General Authority of Survey</option>
              <option value="6">7 - Institute of Geophysics, University of Tehran</option>
              <option value="7">8 - Gulf Region</option>
              <option value="8">9 - Kuwait</option>
              <option value="9">10 - Qatar</option>
              <option value="10">11 - Majlis Ugama Islam Singapura, Singapore</option>
              <option value="11">12 - Union Organization islamic de France</option>
              <option value="12">13 - Diyanet İşleri Başkanlığı, Turkey</option>
              <option value="13">14 - Spiritual Administration of Muslims of Russia</option>
            </select>
          </div>-->
           <div class="input-field fouth-wrap">
            <div class="icon-wrap">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
              </svg>
            </div>
            <select data-trigger="" name="choices-single-defaul"id="school">
              <option placeholder="">School</option>
              <option value="0">0- Shafi </option>
              <option value="1">1- Hanfi</option>
            </select>
          </div>
         <!-- <div class="input-field third-wrap">
            <div class="icon-wrap">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
              </svg>
            </div>
            <input class="datepicker" id="return" type="text" placeholder="30 Aug 2018" />
          </div>-->
         
          <div class="input-field fifth-wrap">
            <button class="btn-search" id="searchButton" type="button">SEARCH</button>
          </div>
        </div>
      </form>
    </div>
     <div class="s002"> <!-- Menue-->

      <form>
        
        <div class="inner-form ">
         <div class="">
            <div class="container" style="">
        <div class="row row-content">
          <div class="col-xs-12  col-md-3 col-lg-2 " style="">
            <div class="card" style="">
              <div class="card-body">
                <h5 class="card-title">Fajar</h5>
                <p class="card-text"><h1 ><strong id="fajar">{{clock}}</strong></h1></p>
                <p style="color: red;"id="fajar_end">{{sunrise}}</p>
              </div>
            </div>
            </div>
          <div class="col-xs-12  col-md-3 col-lg-2 "style="">
            <div class="card" style="">
              <div class="card-body">
                <h5 class="card-title">Zuhar</h5>
                <p class="card-text"><h1><strong id="zuhar">{{zuhar}}</strong></h1></p>
                <p style="color: red;"id="zuhar_end">{{zuhar_end}}</p>
              </div>
            </div>
            
          </div>
          <div class="col-xs-12 col-md-3 col-lg-2"style="">
            <div class="card" style="">
              <div class="card-body">
                <h5 class="card-title">Asar</h5>
                <p class="card-text"><h1><strong id="asr">{{asr}}</strong></h1></p>
                <p style="color: red;"id="asr_end">{{asr_end}}</p>
              </div>
            </div>
            
          </div>
          <div class="col-xs-12 col-md-3 col-lg-2"style="">
            <div class="card" style="">
              <div class="card-body">
                <h5 class="card-title">Maghrib</h5>
                <p class="card-text"><h1><strong id="maghrib">{{maghrib}}</strong></h1></p>
                <p style="color: red;"id="maghrib_end">{{maghrib_end}}</p>
              </div>
            </div>
            
          </div>
          <div class="col-xs-12  col-md-3 col-lg-2"style="">
            <div class="card" style="">
              <div class="card-body">
                <h5 class="card-title">Isha</h5>
                <p class="card-text"><h1><strong id="isha">{{isha}}</strong></h1></p>
                <p style="color: red;"id="isha_end">{{isha_end}}</p>
              </div>
            </div>
            
          </div>

        </div>

      </div>
         
         
                        
         </div>
          
         
           
          
        </div>
        <p id="locSet">{{locDOM}} Calculations</p>
        
      </form>
      
    </div>
  
       
      
    </div>
   
    <script src="js/extention/choices.js"></script>
    <script src="js/extention/flatpickr.js"></script>
    <script>
      flatpickr(".datepicker",
      {});

    </script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

    </script>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
